* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  min-height: 100vh;
}
nav {
  margin: 1em;
}
ul {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 12%;
}
#logo {
  position: absolute;
  left: 6%;
}
li,
a {
  color: hsl(233, 8%, 79%);
  display: inline-block;
  text-decoration: none;
}

li {
  margin-left: 0.3em;
  margin-right: 0.3em;
}
a:hover {
  color: hsl(5, 85%, 63%);
}
article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 3rem;
}
article section {
  /* border: 1px solid blue; */
  padding: 1rem;
}
#item-a {
  grid-column-start: 1;
  grid-column-end: 3;
}
#retro {
  width: 100%;
}
#item-b {
  color: hsl(36, 100%, 99%);
  background-color: hsl(240, 100%, 5%);
  width: 80%;
  grid-row-start: 0;
  grid-row-end: span 2;
}
#item-b h2 {
  color: hsl(35, 77%, 62%);
  margin-bottom: 1em;
  margin-top: 5rem;
}
#item-b p {
  margin-bottom: 2rem;
}
#item-b h3 {
  margin-top: 3rem;
}
#item-b h3:hover {
  color: hsl(35, 77%, 62%);
}
#item-c h1 {
  font-size: 4em;
}
#p1 {
  font-weight: 400;
  margin-bottom: 3em;
}
#link {
  color: hsl(36, 100%, 99%);
  font-weight: 400;
  border: none;
  padding: 1rem;
  background-color: hsl(5, 85%, 63%);
}
#link:hover {
  background-color: hsl(240, 100%, 5%);
}

#item-e img {
  float: left;
  margin-right: 1em;
}
#item-f img {
  float: left;
  margin-right: 1em;
}
#item-g img {
  float: left;
  margin-right: 1em;
}
p {
  color: hsl(233, 8%, 79%);
  font-size: 15px;
  font-weight: 400;
}
.list {
  color: hsl(233, 8%, 79%);
  font-weight: 900;
  margin-bottom: 1em;
}
h3:hover {
  color: hsl(5, 85%, 63%);
}

@media screen and (max-width: 375px) {
  article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #item-a img {
    display: none;
  }
  #item-a {
    background-image: url("../images/image-web-3-mobile.jpg");
    background-size: cover;
    height: 50%;
  }
}
